*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial;
}
.box{
    background-color: green;
    color: white;
    display: block;
    padding: 10px 20px;
    color: white;
    
}
.header{
    width: 100%;
    background-color: white;
    position: fixed;
    box-shadow: 0px 2px 5px 0 rgba(176 176 176 43%);
    z-index: 2;
}
#nav-item a:hover{
    color: green;
    cursor: pointer;
}
.faster{
    color: green;
}
#intro p{
    font-size: large;
}
.hfive{
    display: inline-block;
    margin-right: 25px;
    font-weight: 900;
    margin-top: 30px;
    font-size: medium;
    text-decoration: none;
}

#intro iframe{
    height: 350px;
    max-width: 100%;
    /* margin-top: 90px; */
    border-bottom-left-radius: 120px;
}
section{
    padding-top: 60px;
    padding-bottom: 60px;
}
#Quotation h3{
    font-size: 1.75rem;
    margin: 0.75rem 0;
    line-height: 31px;
}
.span{
    font-weight: 300;
}
#Quotation p{
    line-height: normal;
    font-weight: 900;
    color: green;
    width: 300px;
}
#laudio{
    display: inline;
    width:auto;
    height:32px;
    margin-left: 5.54rem;
}
#middle-tabs{
    position: sticky;
    background-color: #fff;
    z-index: 2;
    top: 3.5rem;
    padding-top: 0;
    padding-bottom: 0;
    /* top: 13.125rem; */
}
#middle-tabs ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;

}
#middle-tabs ul li{
    list-style-type: none;
}
#middle-tabs ul li a{
    padding: 20px 10px;
    text-decoration: none;
    color: #111111;
    display: flex;
    align-items: center;
    width: 100%;
}
#middle-tabs ul li a p{
    margin-left: 10px;
}
#middle-tabs ul li a.active{
    z-index: 1;
    background-color: black;
    color:white
}
.middletabs-body{
    /* margin-top: 60px;
    margin-bottom: 60px; */
    background-color: black;
    display: none;
}
.tab-color{
    font-size: 1rem;
    color: #038e43;
}
.tab-slogan{
    color: #fff;
    font-size: 60px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.tab-discription{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 32px;
    margin-bottom: 2rem;
}
.tab-section{
    display: flex;
}
/* .middletabs-body{
    display: none;
} */
#section-1{
    display: block;
}
#middletabs-para{
    width: 100%;
    position: sticky;
}
.tab-section img{
    max-width: 100%;
    height: auto;
}
.casestudies{
    background-color: #f7f8fb;
}
.casestudiescard{
    background-color: white;
}

.casestudiescard-topicimg{
    top: 0;
    width: 100%;
    height: 350px;
    object-fit: contain;
}
.record{
    color: green;
}
.casestudies-text h3{
    font-weight: 700;
    font-size: 2rem;
}
.casestudies-subheading{
    font-size: 24px;
    line-height: 32px;
}
.casestudiescard-logoimg, .casestudiescard-discription{
    margin-bottom: 15px;
    margin-top: 15px;
}
.casestudiescard-text{
    margin-left: 25px;
}
.readstory{
    color: #102b7b;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
}
.readstory:hover{
    color: #038e43;
}
footer{
    background-color: black;
    padding: 10px;
}
.footer{   
    color: white;
}
#navbarSupportedContent{
    padding-left: 20%;
}
